#====================#
# My Ansible Keycard #
#====================#

Nombre: 
- {{ name }}
Apodo: 
- {{ nick_name }}
Empresa: 
- {{ company }}
Proyecto: 
- {{ project }}

#--------------------#

Localización:
- {{ location }}
Marca de portátil:
- {{ computer_kind }}

#====================#
